body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

.hcenter {
    justify-content: center;
}

.vcenter {
    align-items: center;
}

#gmailImagesBox {
    margin-top: 10px;
    padding: 0 30px;
    align-self: flex-end;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
}

#gmail,
#images,
#box {
    text-decoration: none;
}

#images {
    padding: 0 15px;
}

#gmail,
#images,
#box {
    text-decoration: none;
}

#gmail:hover,
#images:hover,
#box:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.87);
}

#gmail:active,
#images:active,
#box:active {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.87);
}

#gmail:visited,
#images:visited,
#box:visited {
    color: rgba(0, 0, 0, 0.87);
}

div#research {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 40vw;
    height: 44px;
    display: flex;
    align-items: center;
    padding-left: 1%;
}

div#research:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

#lupaDoGoogle {
    height: 40%;
    margin-right: 2%;
}

#researchField {
    height: 90%;
    width: 90%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    color: rgba(0, 0, 0, .87)
}

#buttons {
    padding-top: 18px;
}

.buttonDesign {
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    /**/
    font-family: arial, sans-serif;
    color: #5F6368;
    font-size: 14px;
    text-align: center;
    /**/
    cursor: pointer;
    user-select: none;
}

.buttonDesign:hover {
    color: #222;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
}

#information {
    font-family: arial, sans-serif;
    font-size: small;
}

a#coronavirus,
a#googleInEnglish {
    text-decoration: none;
}

#country {
    display: block;
    margin: 0;
    font-size: 15px;
    padding-left: 27px;
    color: rgba(0, 0, 0, .54);
}

.endLink:link {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    padding-left: 27px;
    color: #5F6368;
}

#country,
#endingLinks {
    font-family: arial, sans-serif;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    min-width: 980px;
}

#endingLinks {
    margin-right: 20px;
}

.endLink:visited {
    text-decoration: none;
    color: #5F6368;
}

.endLink:hover {
    text-decoration: underline;
    color: #5F6368;
}

.endLink:active {
    text-decoration: underline;
    color: rgba(255, 0, 0, .70);
}

.linkAlignedRight:link {
    float: right;
}